body {
	background-color: #FFFACD;
	font-size: 14pt;
}

.bordered {
	border-radius: 8px;
	border: 2px solid #FF6347;
}

section {
	display: block;
	margin: auto;
	text-align: center;
}

#input {
	width: 50%;
	margin: 30px auto;
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	justify-content: center;
}

#input-text {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	flex-basis: auto;
	margin: 10px;
}

#input-text * {
	display: block;
	margin: 5px;
	font-size: inherit;
}

button {
	background-color: #FF6347;
	color: white;
	font-size: inherit;
	padding: 10px 20px;
	text-align: center;
	display: block;
	margin: 20px auto;
	transition-duration: 0.4s;
	cursor: pointer;
}

button:hover {
	background-color: white;
	color: black;
}

#output {
	font-family: monospace;
	text-align: left;
	width: 75%;
}